name: DesigniteJava code quality

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
      - name: DesigniteJava_action
      - uses: DesigniteTools/DJAction@v2.0.0
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          PAT: ${{ secrets.PAT }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          API_KEY: ${{ secrets.API_KEY }}
